body{
  --twitter-color: #50b7f5;   /* css variable named twitter color which can be used multiple places*/
  --twitter-background: #e6ecf0;
}

.App{
  display: flex;
  height: 100vh;
  max-width: 1200px;
 
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}